<a href="https://colab.research.google.com/github/Emerson-Costa/reciclagem-basico-python/blob/main/treinamentoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desvio Condicional, Repetição e Entrada de Dados

In [ ]:
nome = input('Informe o seu nome: ')
idade = 0
while(idade != -1):
  idade = int(input(f"{nome}, informe a sua idade: ")) # Conversão de valores
  if (idade < 18 and idade > 0):
      print(f'{nome}, é menor de idade!','\n')
  else:
      if (idade >= 18):
          print(f"{nome}, é maior de idade",'\n')
      else:
          if (idade < 0):
              print(f"{nome}, idade não pode ser valor negativo!",'\n')
              print("Programa Encerrado!",'\n')
          else:
              if (idade == 0):
                print(f"{nome} é um recém nascido!",'\n')

Informe o seu nome: Emerson
Emerson, informe a sua idade: 18
Emerson, é maior de idade

Emerson, informe a sua idade: 24
Emerson, é maior de idade

Emerson, informe a sua idade: 15
Emerson, é menor de idade!

Emerson, informe a sua idade: 0
Emerson é um recém nascido!

Emerson, informe a sua idade: -1
Emerson, idade não pode ser valor negativo!

Programa Encerrado!

# Manipulação de Strings

In [ ]:
nome = "emerson"
print('Tudo em Maiusculo: ', nome.upper())
print('Tudo em Minúsculo: ', nome.lower())
print('Escrito com a primeira letra em maiúsculo: ', nome.capitalize(),'\n')

# Capturando índices da String (Pegando a palavra 'rato')
frase = 'O rato roeu a roupa do rei te roma.'
print('Palavra capturada: ' + frase[2:6],'\n')

# Substituindo uma palavra na String
print('Frase com erro ortográfico: ', frase)
print('Frase com erro corrigido: ', frase.replace('te', 'de'),'\n')

# Buscando uma palavra'rato' na frase, retorna -1 quando não encontra a palavra
print('A palavra está no índice', frase.find('rato'), 'da cadeia de caracteres.', '\n')

# Mostrando o tamanho da frase
print('Tamanho da frase: ', len(frase), '\n')

# Remover espaços em branco antes e depois da palavra
palavra = ' pizza '
print('Tamanho da palavra considerando os espaços antes e depois: ', len(palavra))
palavra.strip()
print('Tamanho da palavra com a retirada dos espaços antes e depois: ', len(palavra.strip()))

Tudo em Maiusculo:  EMERSON
Tudo em Minúsculo:  emerson
Escrito com a primeira letra em maiúsculo:  Emerson

Palavra capturada: rato

Frase com erro ortográfico:  O rato roeu a roupa do rei te roma.
Frase com erro corrigido:  O rato roeu a roupa do rei de roma.

A palavra está no índice 2 da cadeia de caracteres.

Tamanho da frase:  35

Tamanho da palavra considerando os espaços antes e depois:  7
Tamanho da palavra com a retirada dos espaços antes e depois:  5

# Operações Matemáticas

In [ ]:
number1 = 2
number2 = 10

print(f'Multiplicação: {number1} * {number2} = {number1 * number2}')
print(f'Divisão: {number2} / {number1} = {number2 / number1}')
print(f'Soma: {number1} + {number2} = {number1 + number2}')
print(f'Subtração: {number2} - {number1} = {number2 - number1}')
print(f'Resto da divisão: {number2} % {number1} = {number2 % number1}')
print(f'Potência: {number2}^{number1} = {number2**number1}')

#importanto a biblioteca matemática
import math
print(f"A raíz quadrada de {number2} é: {math.sqrt(number2)}")
print(f"O fatorial de {number2} é: {math.factorial(number2)}\n")

#Arredondamento de dados
casos_doenca = 134
numero_habitantes = 34432
casos_por_habitante = casos_doenca / numero_habitantes

print("Resultado comum: ", casos_por_habitante)
print("Resultado arredondado com seis casas decimais", round(casos_por_habitante, 6))

Multiplicação: 2 * 10 = 20
Divisão: 10 / 2 = 5.0
Soma: 2 + 10 = 12
Subtração: 10 - 2 = 8
Resto da divisão: 10 % 2 = 0
Potência: 10^2 = 100
A raíz quadrada de 10 é: 3.1622776601683795
O fatorial de 10 é: 3628800

Resultado comum:  0.003891728624535316
Resultado arredondado com seis casas decimais 0.003892

# Operadores Lógicos

In [ ]:
a = True
b = False
c = 17
d = 21

print("Valor de 'a': ", a)
print(f"Valor de 'b': {b}\n")

print(a == b)
print(a != b)
print((a == b) == b)
print((a == b) == a,'\n')

print("'a' e (and) 'b': ",a and b)
print("'a' e (&) 'b': ",a & b)
print("'a' ou (or) 'b': ",a or b)
print("'a' ou (|) 'b': ",a | b,"\n")

print("Negação (not) em a: ", not a)
print("Negação (not) em b: ", not b)

Valor de 'a':  True
Valor de 'b': False

False
True
True
False

'a' e (and) 'b':  False
'a' e (&) 'b':  False
'a' ou (or) 'b':  True
'a' ou (|) 'b':  True

Negação (not) em a:  False
Negação (not) em b:  True

# Operadores Relacionais

In [ ]:
print("5 > 2?: ",5 > 2)

print("5 < 2?: ",5 < 2)

5 > 2?:  True
5 < 2?:  False

# Laços de repetição

In [ ]:
print("Contador Simples")
for contador in range(0, 11):
  print(contador)


print("\nContador saltando duas posições")
for contador in range(0, 11, 2):
  print(contador)

print("\nInvertendo as posições")
for contador in range(11, 0, -1):
  print(contador)

Contador Simples
0
1
2
3
4
5
6
7
8
9
10

Contador saltando duas posições
0
2
4
6
8
10

Invertendo as posições
11
10
9
8
7
6
5
4
3
2
1

# Tuplas e Listas

In [ ]:
# Trabalhando com as tuplas
animais = ("Gato", "Cachorro", "Leão", "Macaco");
print("Acessando a tupla por inteiro: ", animais)
print("Acessando o elemento do índice '2': ", animais[1])
print("Retornando a posição do elemento 'Leão': ", animais.index("Leão"))


print("\n iterando sobre cada elemento da tupla\n")
for indice, animal in enumerate(animais):
  print(f"Índice: {indice}, Animal: {animal}")

# Trabalhando com Listas
pessoas = ["Jaguncio Antunes", "Marinalda Cadete", "Regina da Conceição", "Roberval Farias"]
cargos = ["Ajudante de Pedreiro", "Recepcionista", "Auxiliar de Serviços Gerais", "Eletricista"]
print(f"\nPrintando a lista das pessoas: {pessoas}")
print(f"\nPrintando a lista de cargos: {cargos}")
print(f"\nConcatenando a lista de pessoas com a lista de cargos: {pessoas + cargos}")
print(f"\nMultiplicando a lista de pessoas por 2: {pessoas * 2}")
print(f"\nAcessando as duas primeiras pessoas da lista: {pessoas[0:2]}")
# Adicionando elementos na lista
pessoas.append("Frajola")
print(f"\nAdicionando Frajola na lista das pessoas: {pessoas}")
# Removendo elementos da lista
pessoas.remove("Jaguncio Antunes")
print(f"\nRemovendo Jaguncio Antunes da lista das pessoas: {pessoas}")
# iterando sobre a lista de pessoas
print("\nIterando sobre a lista de pessoas\n")
for pessoa in pessoas:
  print(pessoa)
# Deletando a lista de cargos
print("\nDeletando a lista de cargos\n")
del(cargos)
print(cargos)

Acessando a tupla por inteiro:  ('Gato', 'Cachorro', 'Leão', 'Macaco')
Acessando o elemento do índice '2':  Cachorro
Retornando a posição do elemento 'Leão':  2

 iterando sobre cada elemento da tupla

Índice: 0, Animal: Gato
Índice: 1, Animal: Cachorro
Índice: 2, Animal: Leão
Índice: 3, Animal: Macaco

Printando a lista das pessoas: ['Jaguncio Antunes', 'Marinalda Cadete', 'Regina da Conceição', 'Roberval Farias']

Printando a lista de cargos: ['Ajudante de Pedreiro', 'Recepcionista', 'Auxiliar de Serviços Gerais', 'Eletricista']

Concatenando a lista de pessoas com a lista de cargos: ['Jaguncio Antunes', 'Marinalda Cadete', 'Regina da Conceição', 'Roberval Farias', 'Ajudante de Pedreiro', 'Recepcionista', 'Auxiliar de Serviços Gerais', 'Eletricista']

Multiplicando a lista de pessoas por 2: ['Jaguncio Antunes', 'Marinalda Cadete', 'Regina da Conceição', 'Roberval Farias', 'Jaguncio Antunes', 'Marinalda Cadete', 'Regina da Conceição', 'Roberval Farias']

Acessando as duas primeiras pessoas da lista: ['Jaguncio Antunes', 'Marinalda Cadete']

Adicionando Frajola na lista das pessoas: ['Jaguncio Antunes', 'Marinalda Cadete', 'Regina da Conceição', 'Roberval Farias', 'Frajola']

Removendo Jaguncio Antunes da lista das pessoas: ['Marinalda Cadete', 'Regina da Conceição', 'Roberval Farias', 'Frajola']

Iterando sobre a lista de pessoas

Marinalda Cadete
Regina da Conceição
Roberval Farias
Frajola

Deletando a lista de cargos

NameError: name 'cargos' is not defined

# Dicionários e Conjuntos

In [6]:
# Chave: Setor
# Valor: quantidade de funcionários por setor
empresa = {'Entregas': 20, 'Gerente': 7, 'Vendas': 50, 'RH': 10 }
print(f"Setores e quantidades de funcinários por setor de uma empresa x: {empresa}")
print(f"A quantidade de funcionários no setor de 'Entregas' é: {empresa['Entregas']}")
# Setor de vendas foi removido do dicionário
del(empresa)['Vendas']
print("\nO setor de vendas foi removido do dicionário")
print(f"Setores e quantidades de funcinários por setor de uma empresa x: {empresa.items()}\n")
# Exibindo somente as chaves sem os seus valores
print(empresa.keys())
# Exibindo somente os valores das chaves
print(empresa.values())
# Criando novos dados para empresa
novos_setores = {"alimentacao": 10, "limpesa": 100}
# Agrupando os novos setores na empresa
empresa.update(novos_setores)
print(f"\nInclusão de novos setores de uma empresa x: {empresa}")
# Criado um laço para percorrer o dicionário empresa
print("\nPercorrendo os valores do dicionário empresa\n")
for chave, valor in empresa.items():
  print(f"Chave (setor): {chave} - Valor (Quantidade de funcionários): {valor}")

Setores e quantidades de funcinários por setor de uma empresa x: {'Entregas': 20, 'Gerente': 7, 'Vendas': 50, 'RH': 10}
A quantidade de funcionários no setor de 'Entregas' é: 20

O setor de vendas foi removido do dicionário
Setores e quantidades de funcinários por setor de uma empresa x: dict_items([('Entregas', 20), ('Gerente', 7), ('RH', 10)])

dict_keys(['Entregas', 'Gerente', 'RH'])
dict_values([20, 7, 10])

Inclusão de novos setores de uma empresa x: {'Entregas': 20, 'Gerente': 7, 'RH': 10, 'alimentacao': 10, 'limpesa': 100}

Percorrendo os valores do dicionário empresa

Chave (setor): Entregas - Valor (Quantidade de funcionários): 20
Chave (setor): Gerente - Valor (Quantidade de funcionários): 7
Chave (setor): RH - Valor (Quantidade de funcionários): 10
Chave (setor): alimentacao - Valor (Quantidade de funcionários): 10
Chave (setor): limpesa - Valor (Quantidade de funcionários): 100

# Conjuntos

In [13]:
# Criando m conjunto de nomes
nomes = ("Emerson", "Karina", "Alan", "Andé", "Karina", "Emerson")
print(f"Tuplas com os nomes: {nomes}\n")
print(f"Conjunto com os nomes sem repetição: {set(nomes)}\n")
# Criando dois conjuntos numéricos
conjunto1 = {1, 2, 5, 8}
conjunto2 = {1, 7, 8, 9}
print(f"Conjunto 1: {conjunto1}, Cojunto 2: {conjunto2}\n")
print(f"Inteseção entre o conjunto 1 e conjunto 2: {conjunto1.intersection(conjunto2)}")
print(f"União entre o conjunto 1 e conjunto 2: {conjunto1.union(conjunto2)}");
print(f"Diferença entre o conjunto 1 e conjunto 2: {conjunto1.difference(conjunto2)}")
print(f"Diferença entre o conjunto 2 e conjunto 1: {conjunto2.difference(conjunto1)}")

Tuplas com os nomes: ('Emerson', 'Karina', 'Alan', 'Andé', 'Karina', 'Emerson')

Conjunto com os nomes sem repetição: {'Andé', 'Karina', 'Alan', 'Emerson'}

Conjunto 1: {8, 1, 2, 5}, Cojunto 2: {8, 1, 9, 7}

Inteseção entre o conjunto 1 e conjunto 2: {8, 1}
União entre o conjunto 1 e conjunto 2: {1, 2, 5, 7, 8, 9}
Diferença entre o conjunto 1 e conjunto 2: {2, 5}
Diferença entre o conjunto 2 e conjunto 1: {9, 7}